.container-1 {
    margin-left: 10rem;
    margin-right: 10rem;
}


table {
    width: 100%;
}

a.text-toolbar {
    text-decoration: none;
}

.example-spacer {
    flex: 1 1 auto;
}
.mat-form-field {
    width: 100%;
}