<div class="row">
    <div class="col">

        <a class="text-toolbar" [routerLink]="['/list']">
        <button type="button" class="btn btn-primary mb-2 w-100">
            Lista de Estudiantes
        </button>
        </a>
        <a class="text-toolbar" [routerLink]="['/add-users']">
        <button type="button" class="btn btn-primary mb-2 w-100">
            Agregar un Nuevo Estudiante de Alumnos
        </button>
        </a>
        <a class="text-toolbar" [routerLink]="['/config-users']">
        <button type="button" class="btn btn-primary mb-2 w-100">
            Configuracion de Estudiantes
        </button>
        </a>
        <a class="text-toolbar" [routerLink]="['/form']">
            <button type="button" class="btn btn-primary mb-2 w-100">
                Formulario
            </button>
        </a>
    </div>
</div>