.navbar-1 {
    margin-top: 1.5rem;
    background-color: #0d6efd;
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.example-spacer {
    margin-right: 1rem;
}