<body>
    <form action="">
        <h1 class="title">Login</h1>
        <label for="">
            <i class="fa-solid fa-user fa-bounce"></i>
            <input placeholder="username" type="text" id="username">
        </label>
        <label for="">
            <i class="fa-solid fa-lock fa-bounce"></i>
            <input placeholder="password" type="password" id="password">
        </label>
        <a href="" class="link"> ¿Olvidaste tu contraseña? </a>
        <button id="button" [routerLink]="['/list']">Login</button>
    </form>
</body>